<template>
  <div class="home">
    <h1>Messenger</h1>

    <h3>{{JSON.stringify(connection?.readyState)}} </h3>
    <div>{{"Number of Messages: " + messages.length.toString()}}</div>
  <div v-for="(message, index) in textMessages" :key="index"> <h4>{{message.user +": " + message.message}} </h4></div>
<button @click="sendMessage('Button!')">Add 1</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { v4 as uuidv4 } from 'uuid';
interface IDataType  {
  connection: WebSocket | undefined;
  messages: IMessage[]
}

interface IMessage {
  action: string,
  user:  string,
  message: string
}

export default defineComponent({
  name: "Home",
  data (): IDataType {

    return {
      connection: undefined,
      messages: []
    }
  },
  methods: {
    sendMessage: function (newMessage: string):void   {
      if (this && this.connection) {
        console.log(newMessage)
        const newObject = JSON.stringify({action: "message", user: "Ant", message: newMessage})
        console.log(newObject)
      this.connection.send(newObject)
    }}
  },
  computed: {
      textMessages: function () {
          let txts = [] as IMessage[]
        this.messages.forEach((msg: IMessage) => {
          if ( msg.action == "message") {
            txts.push(msg)
          }
        })
  return txts
      }

  },
  created: function () {
    console.log("creatingsocket")
    this.connection = new WebSocket("ws://127.0.0.1:8000/chatroom_ws")
  if (this.connection) {
  
    console.log("Creating Websocket")
  this.connection.onopen = () => {
    this.connection!.send(JSON.stringify({event:"channel_subscribe", data: {
      channel: "chatroom", session_id: uuidv4()}}))
      console.log("successfully opened thesocket")
   
    }
    console.log("creating onmessage")
     this.connection!.onmessage= (ev) => {
       console.log("Recieved Message...")
      console.log(ev.data)
        const json = JSON.parse(ev.data);
      if (ev.data) {
        this.messages = [...(this.messages), json]
      }
  }
  }
  }
});

</script>
